{extend name="index:index" /}
{block name="main-content"}
    <div class="main-content">
        <div class="wrapper">
            <ol class="breadcrumb">
                <li>
               <span class="gray-color">财务管理 -</span>
               <span class="lgray-color">已实名用户</span>
                </li>
            </ol>
            <div class="panel">
                <div class="panel-body">
                   <div class="main-heading clearfix">
                        <span class="pull-left"><i class="icon icon-stop"></i> 已实名用户{$lists->total()}位</span>
                        <form action="{:url('/admin/pay/search')}" method='post'>
                            <select name="param" >
                                <option value="realname" checked>姓名</option>
                                <option value="accountid">交易账号</option>
                            </select>
                            <input type="text" name='value' value='' style="height:28px;width:100px;">
                            <input type="submit" value='搜索'>
                        </form>
                   </div>
                    <table class="table table-borderless  table-right">

                    </table>

                    <table class="table table-center table-bordered">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>软件帐号</th>
                                <th>密码</th>
                                <th>姓名</th>
                                <th>用户手机号</th>
                                <th>身份证号</th>
                                <th>银行卡号</th>
                                <th>开户行</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="tr_html">
                        {volist name="lists" id="user"}
                            <tr>
                                <td>{$user.id}</td>
                                <td>{$user.accountid}</td>
                                <td>{$user.password}</td>
                                <td>{$user.realname}</td>
                                <td>{$user.utel}</td>
                                <td>{$user.ppnum}</td>
                                <td>{$user.banknum}</td>
                                <td>{$user.bankname}</td>
                                <td>
                                    <a href="/admin/pay/regist/id/{$user.id}"  target="_Blank"><button class="btn"><i class="icon icon-file-text-o"></i> 开户</button></a>
                                    <a href="/admin/pay/opay/id/{$user.id}" target="_Blank"><button class="btn btn-danger"><i class="icon icon-file-text-o"></i> 转账</button></a>
                                    <a href="/admin/pay/tixian/id/{$user.accountid}"   target="_Blank"><button class="btn"><i class="icon icon-file-text-o"></i> 提现</button></a>
                                </td>
                            </tr>
                        {/volist}
                            <tr>
                                <td colspan="12">
                                {$lists->render()}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <form action="/admin"></form>
    </div>
{/block}
{block name="myjs"}
{/block}
